<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "flashclicks"
        versionCode="151"
        version   = "1.5.1">

    <!-- versionCode is optional and Android only -->

    <name>Flashclicks</name>

    <description>
        Panel de usuarios
    </description>

    <author href="http://www.prosolven.com" email="moodyweb@hotmail.com">
        Paul Moody
    </author>
    <icon src="icon.png" />
    <gap:splash src="splash.png" />
</widget>
